# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/documentation/npm-script.md
/documentation/github-issues
/Post-React-Migration/documentation
Post-React-Migration/xampp-php-mysql-files/uploads/certificates/medical_certificate_1765448853_dakfqj.png
Post-React-Migration/xampp-php-mysql-files/uploads/certificates/medical_certificate_1765449167_xvnawj.png
Post-React-Migration/xampp-php-mysql-files/uploads/identity/identity_proof_1765447708_j43k9z.png
Post-React-Migration/xampp-php-mysql-files/uploads/identity/identity_proof_1765448672_31ubyi.png
Post-React-Migration/xampp-php-mysql-files/uploads/identity/identity_proof_1765448853_9wibtq.png
Post-React-Migration/xampp-php-mysql-files/uploads/identity/identity_proof_1765449167_ni2xrf.png
/Post-React-Migration/xampp-php-mysql-files/uploads/certificates/sample-medcert.png
/Post-React-Migration/xampp-php-mysql-files/uploads/certificates/medical_certificate_1765448672_missing.png
/Post-React-Migration/xampp-php-mysql-files/uploads/identity/sample-id.png
/Post-React-Migration/xampp-php-mysql-files/uploads/certificates/medical_certificate_1765719344_stzkq9.png
/Post-React-Migration/xampp-php-mysql-files/uploads/identity/identity_proof_1765719344_6ij7ew.png